.label {
  display: inline-block;
  font-weight: bold;
  font-size: 13px;
}

.inputStyles {
  display: inline-block;
  width: 30px;
  text-align: center;
  font-size: 12px;
  padding: 3px;
}

.selectStyles {
  display: inline-block;
  width: 100px;
  font-size: 12px;
  padding: 3px;
}

.buttonLink {
  color:white;
}

.displayYes {
  display: inline-block;
}

.displayNo {
  display: none;
}